# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*
.next

# environment variables (contains secrets)
.env.local
.env*.local

logs/

# dev logger runtime files
resources/appserver/
resources/sandbox/

# macOS
.DS_Store